/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
  --brand-primary: #7B2CBF;
  --brand-primary-50: #7a2cbf50;
  --brand-secondary: #E6B325;
  --brand-light: #9D4EDD;
  --brand-dark: #5A189A;
  --brand-background: #F9F7FC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--brand-background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--brand-background);
}

::-webkit-scrollbar-thumb {
  background: var(--brand-primary-50);
  border-radius: 4px;
  opacity: 0.1;
}